useDynLib(DNAtools)
export(dbCompare)
export(dbExpect)
export(dbVariance)
export(dbCollapse)
export(plot.dbcompare)
export(print.dbcompare)
export(optim.relatedness)
export(print.dbOptim)
export(plot.dbOptim)
export(points.dbOptim)
export(lines.dbOptim)
export(dbSimulate)
export(freqEst)
export(pNoA)
export(p.numberofalleles)
export(noaTabs)
export(pContrib.locus)
export(pContrib)
export(estimatePD)
